<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Fruit Detect</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="css-header css-clearfix border-bottom">
            <a href="#"><h1 class="text-muted">Fruit Detect</h1></a>
        </div>

        <div class="card bg-dark text-white mt-5 mb-5">
            <div class="card-body">
                <form id="predict-form" action = "predict" method = "POST" enctype = "multipart/form-data">
                    <div class="mb-3">
                        <div class="form-group">
                            <label id="label-img-placeholder" for="image">Đưa ảnh cần nhận diện vào đây</label>
                            <input type="file" class="form-control d-none" name="image" id="image" />
                        </div>
                    </div>
                    <div class="css-clearfix d-none" id="image-preview">
                        <canvas></canvas>
                    </div>
{#                    <div class="text-center mt-3">#}
{#                        <input class="btn btn-success" type = "submit" value="Đoán xem"/>#}
{#                    </div>#}
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <canvas id="preview"></canvas>
            </div>
        </div>

        <div class="card bg-dark text-white mt-5 mb-5">
            <div class="card-body text-center">
                <div id="result">Đang chờ ... </div>
            </div>
        </div>

        <div class="css-footer css-clearfix border-top">
            <p>&copy; 2019, hihi</p>
        </div>
    </div>
</body>
<img class="d-none" id="loading" src="{{ url_for('static',filename='loading.gif') }}">
<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
{#<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>#}
<script src="{{ url_for('static',filename='message.js') }}"></script>
<script src="{{ url_for('static',filename='index.js') }}"></script>
</html>